.about {
    display: grid;
    min-height: 100vh;
/*     width: 100vw; */
    border-top: 1px solid grey;
}
nav {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
nav > a {
    font-size: 25px;
    filter:opacity(85%);
    font-weight: bold;
    padding: 0 20px;
    color: var(--color-text-subtitle);
    transition: .3s;
}

.divider {
    margin-top: 10px;
    filter:opacity(25%);
    border-right: 3px solid grey;
    height: calc(2em - 15px);
}
nav a:hover{
    text-decoration: none;
    color:rgb(68, 77, 255);
   /*   font-size: 2em; 
    transition: all 0.5s ease-in ; */
    transform: scale(120%);
    transform: 2s;
    text-shadow: hoff voff blur #000;
}
nav:hover > :not(:hover) {
    opacity: .4;
}


.about__wrapper {
    display: grid;
    grid-auto-flow:column;
    grid-template-columns: 1fr 4fr;

    grid-gap: 80px;
    margin: 30px 30px;
}

.about__wrapper_item{
    display: grid;
    grid-gap: 40px;
}

.about__wrapper_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__wrapper_item-text {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items:center;
    padding: 0 100px;
}


.about__wrapper_item-text:first-child{
    overflow: hidden;
    border-right: .15em solid var(--color-text-subtitle);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color-text-subtitle)}
  }

.about__wrapper_item-text_point {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    align-self: center;
    grid-template-areas: "a b b b"
                         ". c c ."   ;
}

.about__wrapper_item-text_point .about__check {
    grid-area: a;
}

.about__wrapper_item-text_point h3 {
    grid-area: b;
}

.about__wrapper_item-text_point p {
    grid-area: c;
}

svg {
    width: 100%;
    height: 100%;
    /* margin:  20px ; */
}



