@import '/css/libs/bootstrap-reboot.min.css';
@import 'variables.css';
@import 'header.css';
@import 'about.css';
@import 'experience.css';
@import 'interests.css';
@import 'footer.css';

@font-face {
    font-family: "Helvetica", bold;
    src: url('/fonts/Helvetica-Bold.ttf') format('truetype');
  }

* {
    font-family: "Helvetica", bold;
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

h1 {
    font-size: 58px;
    margin: 20px 25px ;
    line-height: 70px;
    font-weight: bold;
    letter-spacing: 3px;
}
h2 {
    margin-top: 2vh;
    font-size: 38px;
    font-weight: bold;
    color: var(--color-text-subtitle);
    text-align: center;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--color-text-subtitle);
    /* text-align: center; */
    place-items: center;
    margin: 0 auto;
}
p {
    color:rgb(88, 84, 84);
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:pre-line;
}

span {
    font-size: 1em ;
    font-weight: bold;
}

.to_top{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    margin-right: 5vw ;
    margin-bottom: 3vh;
}

.to_top a{
    font-size: 28px;
    font-weight: bold;
    color: var(--color-text-subtitle);
    text-align: center;
    
}


